.course-detail {
    .accordion-item + .accordion-item {
        margin-top: 10px;
    }
    .accordion-button {
        background-color: #f5f5f5 !important;
        padding-left: 30px;
        color: var(--text-color) !important;
        font-size: 1.6rem !important;
        border-radius: 6px !important;
    }
    .accordion-item {
        border: 0px !important;
    }
    .accordion-header {
    }
    .accordion-body {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
    .count {
        display: flex;
        margin: 0;
        padding-left: 0;
        list-style-type: none;
        font-size: 14px;
        .space {
            margin-top: 1px;
            opacity: 0.8;
            padding: 0 8px;
        }
    }
    .btn-action {
        background-color: orange;
        color: white;
        border-radius: 6px;
        cursor: pointer;
        &:hover {
            opacity: 0.7;
        }
    }
}
